@page "{handler?}"
@model IndexModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Non view page</title>
</head>
<body>
    This is non view razor page.
</body>
</html>
