@using System.Threading.Tasks
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();

    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.TwoLetterISOLanguageName })
        .ToList();

    var setLanguageUrl = Url.Page("/Index", "SetLanguage", new { area = "Localizer" });
    var returnUrl = Context.Request.PathBase + Context.Request.Path;
}
<form id="languagePicker" action="@setLanguageUrl" method="get" role="form">
    <input type="hidden" name="returnUrl" value="@returnUrl"/>
    <select class="form-control" name="culture" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems" onchange="this.form.submit()"></select>
</form>
